{% extends "../../store/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url "account:dashboard" %}';
        </script>
    {% endif %}
    <script>
        $(document).ready(function () {
            {% if form.errors %}
                console.log("errors")
                document.getElementById("popup").style.display = "block";
            {% else %}
                document.getElementById("popup").style.display = "none";
            {% endif %}
        })
    </script>
    <main>
        <form class="account-form" method="post" action="{% url 'account:pwdreset' %}">
        <div class="centerdiv">
            <p>Forgotten your password?</p>
            <p>Enter your e-mail address to obtain a new password.</p>
            {% if form.errors %}
                <div class="popup" id="popup" role="alert">
                    Error: Please try again!
                </div>
            {% endif %}
            {% csrf_token %}
            <label>{{ form.email.label }}</label>
            {{ form.email }}
            <button class="button" type="submit" value="Send e-mail">
                Send
                e-mail
            </button>
            <p><a href="{% url "account:login" %}"><i class="fa fa-sign-in"></i>Login</a></p>
        </div>
        </form>
    </main>
{% endblock %}